.DS_Store
*.lprof
*.json
*.xlsx
*.csv
*.txt
wandb/
checkpoints/
tensorboard_log/
*.jsonl
*.json

__pycache__/
*.ipynb
*.py[cod]
*$py.class
ffmpeg*
*.log
output/
models/
logs/
data/
tmp/
memo.txt
funasr-runtime-resources/
test.py
bench/**/*.txt
*.xlsx
*.png
*.json
xx*.*
**/.ipynb_checkpoints/